{% extends "base.html" %}

{% block style %}
<style>
   * {
      background-color: aliceblue;
   }
   .container {
      display: grid;
      grid-template-columns: 25% 40% 35%;
   }
   .shakecustoms {
      list-style-type: "+  ";
   }
   .close-orderslip {
      margin-right: 1em;
   }
</style>
{% endblock %}

{% block page-title %}Order Slip{% endblock %}

{% block content %}
<div class="container">


   <!-- list of all orders -->
   <div class="orders">

       <h1>ORDERS</h1>

       <button>
         <a href="{% url 'orderpreparation:addcustomer' %}">New Order</a> 
      </button>

      <ul style="list-style-type: circle; line-height: 1.5em;">
      {% for order in orders %}
         <li><a href="/orders/{{ order.tx_num }}/">
            {{ order.customer_id }}'s
         </a></li>
      {% endfor %}
      </ul>

   </div>


</div>
{% endblock %}