{% extends "base.html" %}

{% block page-title %}Employee List by Position{% endblock %}

{% block style %}
<style>
   .container {
      display: grid;
      grid-template-columns: 30% 70%;
   }
   ul {
      list-style-type: circle;
   }
   h2 {
      font-size: 1em;
      font-weight: bold;
   }
</style>
{% endblock %}

{% block content %}
<div class="container">


   <!-- /employeelist -->
   <div>
      <h1>Employee List</h1>
      <button class="new"><a href="/employeelist/weekly">View Schedule</a></button>
  
      <h2>Cashier</h2>
      <ul>
        {% for cashier in cashier %}
        <li>{{ cashier.employee.employee_name }}</li>
        {% endfor %}
      </ul>
  
      <h2>Preparation</h2>
      <ul>
        {% for preparation in preparation %}
        <li>{{ preparation.employee.employee_name }}</li>
        {% endfor %}
      </ul>
  
      <h2>Cleaning</h2>
      <ul>
        {% for cleaning in cleaning %}
        <li>{{ cleaning.employee.employee_name }}</li>
        {% endfor %}
      </ul>
   </div>
  

</div>
{% endblock %}