{% extends "base.html" %}

{% block page-title %}Order Preparation Per Customer{% endblock %}

{% block content %}
<div style = "position: relative; left:80px; top:30px;">
    <h1>CUSTOMER ORDERS</h1>
</div>
<div style = "position:relative; left:80px; top:35px;">
    <p>List of Orders: </p>
    <p>
        {% if customer %}
        <ol>
            {% for customer in customer %}
                <li><a href="/orderpreparation/{{ customer.customer_id }}/">
                {{ customer.customer_name }}
                </a></li>
            {% endfor %}
        </ol>
    </p>
    {% else %}
        <p>No users are available.</p>
    {% endif %}
    <p>Customer and Order Forms:</p>
    <button onclick="location.href = '../addcustomer/'">New Customer</button><br>
    <button onclick="location.href = '../addorder/'">New Order</button><br>
    <button onclick="location.href = '../addshake/'">Add Milkshake to Order</button><br>

    <p>Recipes and Ingredients:</p>
    <button onclick="location.href = ''">New Ingredient</button><br>
    <button onclick="location.href = ''">New Recipe</button><br>
    <button onclick="location.href = ''">Ingredient to Recipe</button><br>
    <button onclick="location.href = ''">New Customization</button><br>
</div>
{% endblock %}