{% extends "base.html" %}

{% block page-title %}Add Milkshake to Order{% endblock %}

{% block content %}
<h1> Add Milkshake to Order </h1>
<hr>
<form method="POST" action="{% url 'orderpreparation:addshake' %}" enctype="multipart/form-data">
    {% csrf_token %}
    {{ shake_form.as_p }}
  <button class="button" type="submit">Add Milkshake</button>
</form>
  <button onclick="location.href = '../addcustomization'">Confirm and Add Customization</button><br>
  <button onclick="location.href = '../orders'">Confirm Order</button><br>
{% endblock %}